@import"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css";

body{
    
margin: 0;
padding: 0;
font-family: sans-serif;
background:
background-size: cover; 
}

.a{
    
}
.login-box
{
width: ;
    height: ;
    padding-bottom:50px ;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
position: absolute;
top: 50%;
left:20%;
    border-radius: 30px;
background-color:rgba(0,0.3,0.3,0.3);
transform: translate(-50%,-50%);

}
.login-box h1{
    color: ;
font-size: 40px;
border-bottom: 6px solid;
margin-bottom: 50px;
padding: 13px;
    font-weight: bold;
}
.textbox{
width: 100%;
overflow: hidden;
font-size: 18px;
padding: 3 px;
margin: 8px;
border-bottom: 1px solid;
}
.textbox i{
width: 36px;
float: left;
text-align: center;
}
.textbox input{
border: none;
outline: none;
background: none;
color: black;
    font-weight: ;
font-size: 20px;
width: 80%;
float: left;
margin: 10px;
}
.btn{
width: 100%;
background: none;
border: 2px solid;
color: black;
padding: 5px;
font-size: 15px;
curser: pointer;
margin: 12px;
    align-content: center;
    border-radius: 25px;
    
}



