@import"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css";

body{
    
margin: 0;
padding: 0;
font-family: sans-serif;
background:
background-size: cover; 
}

.a{
    
}
.rt{
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}
.simple-form
{width: 40%;

    padding-bottom:50px ;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
position: absolute;
top: 65%;
left:30%;
    border-radius: 30px;
background-color:rgba(0,0.3,0.3,0.3);
transform: translate(-50%,-50%);

}
.simple-form h1{
    color: white;
font-size: 40px;
border-bottom: ;
margin-bottom: ;
padding: 2px;
    font-weight: bold;
    border-radius: 30px;
    font-family: sans-serif;
}
.radi{
    
color: black;
font-weight: bolder;

}
.textbox{
width: 100%;
    height: 40PX;
    text-align: center;
overflow: hidden;
font-size: 18px;
padding: 3 px;
margin: 8px;
border-bottom: 1px solid;
    border-radius: 30PX;
}
.textbox i{
width: 36px;
float: left;
text-align: center;
}
.textbox input{
border: none;
outline: none;
background: none;
color: black;

    font-weight: ;
font-size: 20px;
width: 80%;
float: left;
margin: 10px;
}
.btn{
width: 100%;
background: none;
border: 2px solid;
color: white;
padding: 5px;
font-size: 15px;
curser: pointer;
margin: 12px;
    align-content: center;
    border-radius: 25px;
    
}


.btn:hover{color:black;background-color: white;opacity: 1;}
.log{ width:100px;
    height:100px;
    align-content: right;
    align-items: right;
    border-radius: 40px;
    right:50%;
    top:-50px;
    
}


